<nav class="navbar navbar-expand-lg custom-navbar sticky-top">
  <div class="container">
    <!-- Brand -->
    <a class="navbar-brand fw-bold d-flex align-items-center" href="/">
      <i class="fa-solid fa-compass text-danger me-2"></i>
      <span class="text-danger fs-4">WanderLuxe</span>
    </a>

    <!-- Mobile Toggle Button -->
    <button class="navbar-toggler border-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#mobileNavbar"
      aria-controls="mobileNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Offcanvas -->
    <div class="offcanvas offcanvas-end" tabindex="-1" id="mobileNavbar">

      <!-- Offcanvas Header -->
      <div class="offcanvas-header border-bottom">
        <h5 class="offcanvas-title fw-bold text-danger">
          <i class="fa-solid fa-compass me-3 mb-2"></i>WanderLuxe
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
      </div>


      <!-- Offcanvas Body -->
      <div class="offcanvas-body">

        <!-- Search -->
        <div class="search">
          <form class="d-flex ms-auto" role="search" action="/listings" method="GET">
            <input class="form-control me-2 rounded-pill px-3" type="search" name="search"
              placeholder="Search Title/ Location/ Country..." aria-label="Search">
            <button class="btn btn-danger rounded-pill px-4" type="submit">
              Search
            </button>
          </form>
        </div>

        <!-- Links -->
        <ul class="navbar-nav ms-auto align-items-start">

          <li class="nav-item ">
            <a href="/listings" class="nav-link text-danger fw-semibold">
              All Listings
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link host-btn" href="/listings/new">
              <i class="fa-solid fa-house-user me-1"></i>
              Become a Host
            </a>
          </li>

          <% if (!currUser) { %>
            <li class="nav-item ">
              <a class="nav-link text-danger" href="/login">Login</a>
            </li>

            <li class="nav-item">
              <a class="btn btn-danger px-3" href="/signup">Sign Up</a>
            </li>
            <% } %>

              <% if (currUser) { %>
                <li class="nav-item ">
                  <a href="/user/<%= currUser._id %>" class="nav-link fs-5">
                    <i class="fa-solid fa-user me-2"></i>
                    Profile
                  </a>
                </li>

                <li class="nav-item">
                  <a class="btn btn-outline-danger px-3" href="/logout">
                    Logout
                  </a>
                </li>
                <% } %>

        </ul>

      </div>
    </div>

  </div>
</nav>